/* Reset básico */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  width:100%; 
  margin:0px; 
}

/* Header */
header {
  position: relative;
  text-align: center;
  
}

header img {
  width: 100%;
  height: auto;
}

.menu {
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
 
}
a, h2{
    text-transform: uppercase;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
  font-size: 12px;
  position: relative; /* Necessário para criar o efeito da linha */
  transition: color 0.3s ease, border-bottom 0.3s ease;

}
.underline:hover{
    color: white;
    
}
.menu a:first-child{
    font-size: 16px; 
    margin-right: 5%;
}
  
  .underline:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Coloca a linha logo abaixo do texto */
    width: 100%; /* Faz a linha cobrir todo o link */
    height: 2px; /* Define a espessura da linha */
    background-color: white; /* Define a cor da linha */
  }

.login-container {
  margin-left: auto;
  margin-right: 5%; 
  
}

#clickLogin {
    background-color:transparent;
   
  padding:5px;
  cursor: pointer;
color:white; 
  font-size: 16px;
  text-transform: uppercase;
}



.header-title {
  position: absolute;
  top: 20%;
  left: 5%;
  text-align: left;
 
  color: white;
}

.header-title h1 {
  font-size: 3em;
  margin: 0;
}

.header-title h2 {
  font-size: 1.5em;
  font-style: italic;
  margin: 5%;
}



/* Main Content */


.about_us{
  margin: 5%;
}
.info{
    width: 60%; 
}
p{
    font-size: 12px;
}
.Book_your_car {
    background-color:#A2A9B3;
padding: 2% 5%;
display:grid; 
grid-template-columns: auto auto auto auto auto auto;
grid-template-rows: auto auto auto auto ;
align-content: space-evenly;
}
label {
    display: block;
 width:80%;
   padding: 0% 2%;    
    margin-top: 5%; 
  margin-left: 7%;
  text-align: left; 
}
input[type="range"], input[type="number"], input[type="date"], input[type="range"], #carbrand, input[type="name"]{
    text-align: left; 
    width: 80%;
    padding: 2% ;
    margin:5% 0%;                
    border: 1px solid #ccc;
    font-size: 16px;
}

.pickup_date{
    grid-column: 1 / 2;
    grid-row: 2;
}
.return_date{
    grid-column: 1 / 2;
    grid-row: 3;
}
#price{
    grid-column: 3 ;
    grid-row: 1;
}
.N_seats{
    grid-column: 4 / 4;
    grid-row: 1;
}
.Brand{
  grid-column: 4/5 ;
  grid-row: 1;
}
.Location{
  grid-column: 3/5 ;
  grid-row: 2;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin: 0.5em 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}