body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

/*.main{
background-color: #A2A9B3;
margin: 40px 40px;
padding: 40px; 
justify-items: center;
}*/