

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do container principal */
.main {
    background-color: #a2a9b3;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Estilo para campos do formulário */
label {
    display: block;
    margin-bottom: 5px;
    color: #44525F; /* Ponto e vírgula adicionado */
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/* Estilo do botão de envio */
#clickSubmit {
    background-color: #44525F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#clickSubmit:hover {
    background-color: #2e3a44; /* Cor mais escura no hover */
}